/* SASS */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin and padding in all browsers.
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000; }

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  font-size: 12px; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Basic styling for Navigation
 */
ul {
  list-style-type: none;
  overflow: hidden; }

li {
  display: inline;
  margin: 0 1rem; }

a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

/* NAVIGATION BAR */
nav.main-navigation {
  overflow: visible;
  width: 100%;
  height: 50px;
  padding: 0 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background-color: white; }
  nav.main-navigation .logo-sabina-larsson {
    width: 60px;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center; }
    nav.main-navigation .logo-sabina-larsson img {
      width: 100%; }
  nav.main-navigation .main-menu {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center; }
    nav.main-navigation .main-menu .menu-header-menu-left-container {
      width: 100%; }
      nav.main-navigation .main-menu .menu-header-menu-left-container ul.header-menu-left {
        display: flex;
        justify-content: flex-end; }
    nav.main-navigation .main-menu .headline-sabina-larsson {
      text-align: center;
      width: 50%;
      font-weight: bold;
      font-size: 1rem; }
    nav.main-navigation .main-menu .menu-header-menu-right-container {
      width: 100%; }
      nav.main-navigation .main-menu .menu-header-menu-right-container ul.header-menu-right {
        display: flex;
        justify-content: flex-start; }
  nav.main-navigation .social-icons ul {
    display: flex; }
  nav.main-navigation .social-icons li {
    margin: 0.5rem; }

/* FOOTER CONTACT INFO */
.container {
  display: flex;
  flex-direction: column; }
  .container .site-footer__info {
    background-color: #b1b1b1; }
    .container .site-footer__info .main-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .container .site-footer__info .main-info .contact-info {
        text-align: center; }
        .container .site-footer__info .main-info .contact-info h3 {
          text-transform: uppercase; }
        .container .site-footer__info .main-info .contact-info a {
          text-transform: inherit; }
        .container .site-footer__info .main-info .contact-info .social-icons {
          display: flex;
          justify-content: center; }
          .container .site-footer__info .main-info .contact-info .social-icons li {
            margin: 0 0.5rem; }
      .container .site-footer__info .main-info .logo-sabina-larsson {
        height: 150px;
        width: 150px; }
        .container .site-footer__info .main-info .logo-sabina-larsson img {
          width: 100%; }
      .container .site-footer__info .main-info .newsletter h3 {
        text-transform: uppercase; }
  .container .site-footer__copyrights {
    background-color: #3e3e3e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative; }
    .container .site-footer__copyrights p {
      color: #a9a9a9; }
    .container .site-footer__copyrights .made-by {
      position: absolute;
      right: 0;
      margin-right: 30px; }

.site-hero-content {
  position: relative; }
  .site-hero-content .hero-image {
    margin-top: 50px;
    background-size: cover;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat; }
  .site-hero-content .hero-content {
    position: absolute;
    background-color: black;
    opacity: 0.7;
    bottom: 10rem;
    padding: 2rem 5rem 2rem 1.5rem; }
    .site-hero-content .hero-content h2.hero-title {
      color: #fff;
      font-size: 3rem;
      text-transform: uppercase; }
    .site-hero-content .hero-content p.hero-text {
      color: #fff;
      font-size: 1.5rem; }

.site-workshop-content {
  display: flex;
  margin: 30px 0; }
  .site-workshop-content .image-container {
    width: 50%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat; }
  .site-workshop-content .content-container {
    position: relative;
    width: 50%;
    background-color: #e3e3e3;
    display: flex; }
    .site-workshop-content .content-container .content-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%; }
      .site-workshop-content .content-container .content-inner-container h2, .site-workshop-content .content-container .content-inner-container h3, .site-workshop-content .content-container .content-inner-container h4, .site-workshop-content .content-container .content-inner-container h6, .site-workshop-content .content-container .content-inner-container p {
        color: #565658; }
      .site-workshop-content .content-container .content-inner-container .title-container {
        position: absolute;
        top: 70px;
        left: 10%; }
        .site-workshop-content .content-container .content-inner-container .title-container h2 {
          text-transform: uppercase;
          font-size: 3rem; }
      .site-workshop-content .content-container .content-inner-container .info-container {
        width: 70%;
        text-align: center;
        margin-bottom: 10px; }
        .site-workshop-content .content-container .content-inner-container .info-container h3.heading {
          font-size: 1.7rem; }
        .site-workshop-content .content-container .content-inner-container .info-container h4.sub-heading {
          font-size: 1.2rem; }
        .site-workshop-content .content-container .content-inner-container .info-container .textarea {
          margin: 20px 0; }
        .site-workshop-content .content-container .content-inner-container .info-container h6.price {
          font-size: 0.8rem; }
      .site-workshop-content .content-container .content-inner-container .notification {
        position: absolute;
        bottom: 110px;
        text-align: center; }
        .site-workshop-content .content-container .content-inner-container .notification a {
          text-transform: lowercase; }
    .site-workshop-content .content-container .general-info {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      text-align: center;
      margin-top: 10px; }
      .site-workshop-content .content-container .general-info .location, .site-workshop-content .content-container .general-info .payment {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
      .site-workshop-content .content-container .general-info .location {
        background-color: #fff; }
        .site-workshop-content .content-container .general-info .location h3, .site-workshop-content .content-container .general-info .location p {
          color: #565658; }
      .site-workshop-content .content-container .general-info .payment {
        background-color: #000; }
        .site-workshop-content .content-container .general-info .payment h3, .site-workshop-content .content-container .general-info .payment p {
          color: #fff; }
