/* SASS */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin and padding in all browsers.
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000; }

body {
  background-color: lightgrey;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  font-size: 12px; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Basic styling for Navigation
 */
ul {
  list-style-type: none;
  overflow: hidden; }

li {
  display: inline;
  margin: 0 1rem; }

li a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

/* NAVIGATION BAR */
nav.main-navigation {
  overflow: hidden;
  padding: 0 6em;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center; }
  nav.main-navigation .logo-sabina-larsson {
    width: 50px;
    height: 50px;
    background-color: black; }
  nav.main-navigation .main-menu {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center; }
    nav.main-navigation .main-menu .menu-header-menu-left-container {
      width: 100%; }
      nav.main-navigation .main-menu .menu-header-menu-left-container ul.header-menu-left {
        display: flex;
        justify-content: flex-end; }
    nav.main-navigation .main-menu .headline-sabina-larsson {
      text-align: center;
      width: 50%;
      font-weight: bold;
      font-size: 1rem; }
    nav.main-navigation .main-menu .menu-header-menu-right-container {
      width: 100%; }
      nav.main-navigation .main-menu .menu-header-menu-right-container ul.header-menu-right {
        display: flex;
        justify-content: flex-start; }
  nav.main-navigation .social-icons {
    width: 100px;
    height: 30px;
    background-color: magenta; }
