/* SASS */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin and padding in all browsers.
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000; }

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  font-size: 12px; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Basic styling for Navigation
 */
ul {
  list-style-type: none;
  overflow: hidden; }

li {
  display: inline;
  margin: 0 1rem; }

a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

/* NAVIGATION BAR */
nav.main-navigation {
  overflow: visible;
  height: 50px;
  padding: 0 6em;
  display: flex;
  justify-content: center;
  align-items: center; }
  nav.main-navigation .logo-sabina-larsson {
    width: 60px;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center; }
    nav.main-navigation .logo-sabina-larsson img {
      width: 100%; }
  nav.main-navigation .main-menu {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center; }
    nav.main-navigation .main-menu .menu-header-menu-left-container {
      width: 100%; }
      nav.main-navigation .main-menu .menu-header-menu-left-container ul.header-menu-left {
        display: flex;
        justify-content: flex-end; }
    nav.main-navigation .main-menu .headline-sabina-larsson {
      text-align: center;
      width: 50%;
      font-weight: bold;
      font-size: 1rem; }
    nav.main-navigation .main-menu .menu-header-menu-right-container {
      width: 100%; }
      nav.main-navigation .main-menu .menu-header-menu-right-container ul.header-menu-right {
        display: flex;
        justify-content: flex-start; }
  nav.main-navigation .social-icons ul {
    display: flex; }
  nav.main-navigation .social-icons li {
    margin: 0.5rem; }

/* FOOTER CONTACT INFO */
.container {
  display: flex;
  flex-direction: column; }
  .container .site-footer__info {
    background-color: #b1b1b1; }
    .container .site-footer__info .main-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .container .site-footer__info .main-info .contact-info a {
        text-transform: inherit; }
      .container .site-footer__info .main-info .contact-info .social-icons {
        display: flex;
        justify-content: center; }
        .container .site-footer__info .main-info .contact-info .social-icons li {
          margin: 0 0.5rem; }
      .container .site-footer__info .main-info .logo-sabina-larsson {
        height: 150px;
        width: 150px; }
        .container .site-footer__info .main-info .logo-sabina-larsson img {
          width: 100%; }
  .container .site-footer__copyrights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative; }
    .container .site-footer__copyrights .made-by {
      position: absolute;
      right: 0;
      margin-right: 30px; }
