/* SASS */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin and padding in all browsers.
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000; }

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  font-size: 12px;
  position: relative; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Basic styling for Navigation
 */
ul {
  list-style-type: none;
  overflow: hidden; }

li {
  display: inline;
  margin: 0 1rem; }

a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

input {
  border: none; }

/* NAVIGATION BAR */
nav.main-navigation {
  overflow: visible;
  width: 100%;
  height: 50px;
  padding: 0 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background-color: white;
  top: 0; }
  nav.main-navigation .logo-sabina-larsson {
    width: 60px;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center; }
    nav.main-navigation .logo-sabina-larsson img {
      width: 100%; }
  nav.main-navigation .main-menu {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center; }
    nav.main-navigation .main-menu .menu-header-menu-left-container {
      width: 100%; }
      nav.main-navigation .main-menu .menu-header-menu-left-container ul.header-menu-left {
        display: flex;
        justify-content: flex-end; }
    nav.main-navigation .main-menu .headline-sabina-larsson {
      text-align: center;
      width: 50%;
      font-weight: bold;
      font-size: 1rem; }
    nav.main-navigation .main-menu .menu-header-menu-right-container {
      width: 100%; }
      nav.main-navigation .main-menu .menu-header-menu-right-container ul.header-menu-right {
        display: flex;
        justify-content: flex-start; }
  nav.main-navigation .social-icons ul {
    display: flex; }
  nav.main-navigation .social-icons li {
    font-size: 15px;
    margin: 0.5rem; }

/* FOOTER CONTACT INFO */
.container {
  display: flex;
  flex-direction: column; }
  .container .site-footer__info {
    background-color: #b1b1b1; }
    .container .site-footer__info .main-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .container .site-footer__info .main-info .contact-info {
        margin: 20px;
        text-align: center; }
        .container .site-footer__info .main-info .contact-info h3 {
          text-transform: uppercase; }
        .container .site-footer__info .main-info .contact-info a {
          text-transform: inherit; }
        .container .site-footer__info .main-info .contact-info .social-icons {
          display: flex;
          justify-content: center; }
          .container .site-footer__info .main-info .contact-info .social-icons li {
            font-size: 20px;
            margin: 0 0.5rem; }
      .container .site-footer__info .main-info .logo-sabina-larsson {
        display: none;
        width: 33%; }
        .container .site-footer__info .main-info .logo-sabina-larsson img {
          height: 150px;
          width: 150px; }
      .container .site-footer__info .main-info .newsletter {
        display: none;
        width: 33%; }
        .container .site-footer__info .main-info .newsletter form {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .container .site-footer__info .main-info .newsletter form input {
            width: 40%;
            margin: 3px 0; }
          .container .site-footer__info .main-info .newsletter form input[type=submit] {
            background-color: #000;
            color: #fff;
            padding: 5px 0; }
        .container .site-footer__info .main-info .newsletter h3 {
          text-transform: uppercase; }
  .container .site-footer__copyrights {
    background-color: #3e3e3e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative; }
    .container .site-footer__copyrights p {
      color: #a9a9a9; }
    .container .site-footer__copyrights .made-by {
      position: absolute;
      right: 0;
      margin-right: 30px; }

.awards {
  display: flex;
  justify-content: center; }
  .awards img {
    margin: 2rem 1rem;
    width: 5%;
    height: 5%; }

/* MAIN CONTENT */
.site-hero-content {
  position: relative; }
  .site-hero-content .hero-image {
    margin-top: 50px;
    background-size: cover;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center; }
  .site-hero-content .hero-content {
    position: absolute;
    background-color: black;
    opacity: 0.7;
    bottom: 10rem;
    padding: 2rem 5rem 2rem 1.5rem; }
    .site-hero-content .hero-content h2.hero-title {
      color: #fff;
      font-size: 3rem;
      text-transform: uppercase; }
    .site-hero-content .hero-content p.hero-text {
      color: #fff;
      font-size: 1.5rem; }

.site-courses-content {
  flex-direction: column; }
  .site-courses-content .courses-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 5rem; }

.site-workshop-content, .site-courses-content {
  display: flex;
  margin: 30px 0; }
  .site-workshop-content .image-container, .site-workshop-content .image-container-big, .site-courses-content .image-container, .site-courses-content .image-container-big {
    width: 50%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat; }
  .site-workshop-content .image-container-big, .site-courses-content .image-container-big {
    height: 1100px; }
  .site-workshop-content .content-container, .site-courses-content .content-container {
    position: relative;
    width: 50%;
    background-color: #e3e3e3;
    display: flex; }
    .site-workshop-content .content-container .content-inner-container, .site-courses-content .content-container .content-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%; }
      .site-workshop-content .content-container .content-inner-container h2, .site-workshop-content .content-container .content-inner-container h3, .site-workshop-content .content-container .content-inner-container h4, .site-workshop-content .content-container .content-inner-container h6, .site-workshop-content .content-container .content-inner-container p, .site-courses-content .content-container .content-inner-container h2, .site-courses-content .content-container .content-inner-container h3, .site-courses-content .content-container .content-inner-container h4, .site-courses-content .content-container .content-inner-container h6, .site-courses-content .content-container .content-inner-container p {
        color: #565658; }
      .site-workshop-content .content-container .content-inner-container .title-container, .site-courses-content .content-container .content-inner-container .title-container {
        position: absolute;
        top: 70px;
        left: 10%; }
        .site-workshop-content .content-container .content-inner-container .title-container h2, .site-courses-content .content-container .content-inner-container .title-container h2 {
          text-transform: uppercase;
          font-size: 3rem; }
      .site-workshop-content .content-container .content-inner-container .info-container, .site-courses-content .content-container .content-inner-container .info-container {
        width: 70%;
        text-align: center;
        margin-bottom: 10px; }
        .site-workshop-content .content-container .content-inner-container .info-container h3.heading, .site-courses-content .content-container .content-inner-container .info-container h3.heading {
          font-size: 1.7rem; }
        .site-workshop-content .content-container .content-inner-container .info-container h4.sub-heading, .site-courses-content .content-container .content-inner-container .info-container h4.sub-heading {
          font-size: 1.2rem; }
        .site-workshop-content .content-container .content-inner-container .info-container .textarea, .site-courses-content .content-container .content-inner-container .info-container .textarea {
          margin: 20px 0; }
        .site-workshop-content .content-container .content-inner-container .info-container h6.price, .site-courses-content .content-container .content-inner-container .info-container h6.price {
          font-size: 0.8rem; }
      .site-workshop-content .content-container .content-inner-container .notification, .site-courses-content .content-container .content-inner-container .notification {
        position: absolute;
        bottom: 110px;
        text-align: center; }
        .site-workshop-content .content-container .content-inner-container .notification a, .site-courses-content .content-container .content-inner-container .notification a {
          text-transform: lowercase; }
    .site-workshop-content .content-container .general-info, .site-courses-content .content-container .general-info {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      text-align: center;
      margin-top: 10px; }
      .site-workshop-content .content-container .general-info .location, .site-workshop-content .content-container .general-info .payment, .site-courses-content .content-container .general-info .location, .site-courses-content .content-container .general-info .payment {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
      .site-workshop-content .content-container .general-info .location, .site-courses-content .content-container .general-info .location {
        background-color: #fff; }
        .site-workshop-content .content-container .general-info .location h3, .site-workshop-content .content-container .general-info .location p, .site-courses-content .content-container .general-info .location h3, .site-courses-content .content-container .general-info .location p {
          color: #565658; }
      .site-workshop-content .content-container .general-info .payment, .site-courses-content .content-container .general-info .payment {
        background-color: #000; }
        .site-workshop-content .content-container .general-info .payment h3, .site-workshop-content .content-container .general-info .payment p, .site-courses-content .content-container .general-info .payment h3, .site-courses-content .content-container .general-info .payment p {
          text-decoration: none;
          color: #fff; }

.position-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row; }
  .position-container .position-image {
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px; }

.review-container {
  display: flex; }
  .review-container .review {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #D6D6D6; }
    .review-container .review p {
      font-size: 0.8rem;
      margin: 0.5rem 0; }

.pt_yoga_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px; }
  .pt_yoga_container .info {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pt_yoga_container .info .heading {
      font-size: 2rem;
      text-transform: uppercase; }
    .pt_yoga_container .info .content {
      width: 50%;
      text-align: center;
      margin: 20px 0;
      font-size: 0.9rem; }
  .pt_yoga_container .notification {
    text-align: center;
    margin-bottom: 10px; }
    .pt_yoga_container .notification a {
      text-transform: inherit; }
  .pt_yoga_container .classes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 0.8px solid #b1b1b1;
    font-size: 1.2rem; }
    .pt_yoga_container .classes .pt_one, .pt_yoga_container .classes .pt_duo, .pt_yoga_container .classes .pt_online {
      width: 33%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding: 2rem 9rem 2rem 1rem; }
    .pt_yoga_container .classes .pt_duo {
      border-right: 0.8px solid #b1b1b1;
      border-left: 0.8px solid #b1b1b1; }

.container-class {
  margin: 0.8rem;
  text-align: center; }
  .container-class h2 {
    font-size: 1.7rem;
    margin-bottom: 15px; }

.workshop-haga {
  font-size: 0.8rem; }
  .workshop-haga .info {
    margin: 2rem;
    padding: 2rem; }
  .workshop-haga .date {
    margin: 0.4rem; }
  .workshop-haga .haga-workshop-btn {
    margin: 2rem;
    padding: 0.5rem 2rem;
    background-color: #000;
    border: none; }
    .workshop-haga .haga-workshop-btn a {
      color: #fff;
      font-weight: 600; }

.about-sabina-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 3rem; }
  .about-sabina-container .image-container {
    height: 600px;
    width: 100%;
    position: relative;
    background-color: #b1b1b1; }
    .about-sabina-container .image-container .title {
      position: absolute;
      font-size: 4rem;
      z-index: 50;
      width: 40%;
      top: 5rem;
      left: 20rem; }
    .about-sabina-container .image-container .about-sabina-image {
      height: 650px;
      width: 550px;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
      position: absolute;
      right: 10rem;
      top: 2rem;
      border: 20px solid #fff; }
      .about-sabina-container .image-container .about-sabina-image .image-opacity {
        background-color: #fff;
        width: 100%;
        height: 100%;
        opacity: 0.5; }
  .about-sabina-container .content-container {
    margin: 10rem 10rem 5rem;
    padding: 2rem; }
    .about-sabina-container .content-container h3 {
      font-size: 2rem;
      margin-bottom: 2rem; }
    .about-sabina-container .content-container p {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.7; }
    .about-sabina-container .content-container .signiture {
      margin-top: 2rem;
      font-weight: bold; }

@media screen and (max-width: 800px) {
  .site-hero-content .hero-image {
    height: 400px; }
  .site-hero-content .hero-content {
    bottom: 2rem;
    padding: 1rem 4rem 1rem 0.5rem; }
    .site-hero-content .hero-content h2.hero-title {
      font-size: 1.5rem; }
    .site-hero-content .hero-content p.hero-text {
      font-size: 0.8rem; }
  .site-workshop-content .image-container {
    display: none; }
  .site-workshop-content .content-container {
    width: 100%;
    display: initial;
    padding: 30px 0; }
    .site-workshop-content .content-container .content-inner-container .title-container {
      position: initial;
      margin-bottom: 20px; }
      .site-workshop-content .content-container .content-inner-container .title-container h2 {
        font-size: 1.4rem;
        text-align: center; }
      .site-workshop-content .content-container .content-inner-container .title-container p {
        font-size: 0.6rem;
        text-align: center; }
    .site-workshop-content .content-container .content-inner-container .info-container {
      margin-bottom: 20px; }
      .site-workshop-content .content-container .content-inner-container .info-container h3.heading {
        font-size: 1.0rem; }
      .site-workshop-content .content-container .content-inner-container .info-container h4.sub-heading {
        font-size: 0.8rem; }
      .site-workshop-content .content-container .content-inner-container .info-container .textarea {
        font-size: 0.6rem;
        margin: 20px 0 5px; }
      .site-workshop-content .content-container .content-inner-container .info-container h6.price {
        font-size: 0.6rem; }
    .site-workshop-content .content-container .content-inner-container .notification {
      position: initial;
      font-size: 0.6rem;
      margin-top: 10px; }
    .site-workshop-content .content-container .general-info {
      position: initial;
      height: 60px; }
      .site-workshop-content .content-container .general-info h3 {
        font-size: 0.6rem; }
      .site-workshop-content .content-container .general-info p {
        font-size: 0.6rem; }
      .site-workshop-content .content-container .general-info .payment {
        background-color: #000; }
        .site-workshop-content .content-container .general-info .payment h3, .site-workshop-content .content-container .general-info .payment p {
          color: #fff; }
  .position-container {
    justify-content: center; }
    .position-container .position-image {
      height: 150px;
      width: 150px; }
  .review-container {
    flex-wrap: wrap; }
    .review-container .review:first-child, .review-container .review:last-child {
      display: none; }
    .review-container .review {
      padding: 1rem; }
      .review-container .review p {
        font-size: 0.6rem; }
  .pt_yoga_container .info .heading {
    font-size: 1.4rem; }
  .pt_yoga_container .info .content {
    font-size: 0.6rem;
    width: 100%; }
  .pt_yoga_container .notification {
    position: initial;
    font-size: 0.6rem;
    margin-top: 10px; }
  .pt_yoga_container .classes {
    flex-direction: column;
    border: 0.8px solid #b1b1b1; }
    .pt_yoga_container .classes .pt_one, .pt_yoga_container .classes .pt_duo, .pt_yoga_container .classes .pt_online {
      width: 100%;
      align-items: center;
      padding: 1rem 2rem 1rem 2rem;
      border: none; }
    .pt_yoga_container .classes h3 {
      font-size: 1rem; }
    .pt_yoga_container .classes p {
      font-size: 0.6rem; }
  .container-class h2 {
    font-size: 1rem; }
  .container-class p {
    font-size: 0.6rem; }
  .position-image:first-child {
    display: none; }
  .workshop-haga {
    font-size: 0.6rem; }
    .workshop-haga .info {
      margin: 1rem;
      padding: 1rem; }
    .workshop-haga .date {
      margin: 0.2rem;
      font-size: 0.8rem; }
    .workshop-haga .haga-workshop-btn {
      margin: 0.5rem; }
      .workshop-haga .haga-workshop-btn a {
        font-size: smaller; }
  .about-sabina-container .image-container {
    height: 350px; }
    .about-sabina-container .image-container .title {
      font-size: 2rem;
      left: 2rem;
      width: 70%; }
    .about-sabina-container .image-container .about-sabina-image {
      height: 350px;
      width: 250px;
      right: 2rem;
      top: 3rem; }
  .about-sabina-container .content-container {
    margin: 5rem 0 3rem;
    padding: 0 2.5rem; }
    .about-sabina-container .content-container h3 {
      font-size: 1.4rem;
      margin-bottom: 1.5rem; }
    .about-sabina-container .content-container p {
      font-size: 0.7rem; }
  .main-info {
    margin: 1rem; }
    .main-info .logo-sabina-larsson {
      display: none; }
    .main-info .newsletter {
      display: none; }
  .awards img {
    width: 15%;
    margin: 2rem 0.5rem; }
  .site-footer__copyrights p {
    font-size: 0.6rem; } }

@media screen and (max-width: 568px) {
  .site-workshop-content .content-container .content-inner-container .title-container h2 {
    font-size: 1.2rem; }
  .position-container .position-image {
    height: 120px;
    width: 120px; } }

@media screen and (max-width: 1020px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer; }
    .hamburger div {
      width: 35px;
      height: 2px;
      background-color: #000;
      margin: 2px 0; }
  nav.main-navigation {
    padding: 0 2rem; }
    nav.main-navigation .main-menu .menu-header-menu-left-container, nav.main-navigation .main-menu .menu-header-menu-right-container {
      width: 100%;
      position: absolute;
      right: 0;
      background-color: white;
      opacity: 0.8;
      transition-timing-function: ease-in;
      display: none; }
    nav.main-navigation .main-menu .menu-header-menu-left-container {
      top: 50px; }
      nav.main-navigation .main-menu .menu-header-menu-left-container ul.header-menu-left {
        display: initial; }
    nav.main-navigation .main-menu .headline-sabina-larsson {
      font-size: 0.7rem; }
    nav.main-navigation .main-menu .menu-header-menu-right-container {
      top: 218px; }
      nav.main-navigation .main-menu .menu-header-menu-right-container ul.header-menu-right {
        display: initial; }
    nav.main-navigation .social-icons {
      width: 100%;
      position: absolute;
      right: 0;
      background-color: white;
      opacity: 0.8;
      top: 183px;
      display: none; }
      nav.main-navigation .social-icons ul {
        justify-content: center; } }
