/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin and padding in all browsers.
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $black;
}
body {
  font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
  min-height: 100vh;
  font-size: 12px;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Smooth scrolling on the whole document
 */
html {
	scroll-behavior: smooth;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Basic styling for Navigation
 */
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  display: inline;
  margin: 0 1rem;
}

a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


/* NAVIGATION BAR */
nav.main-navigation {
  overflow: visible;
  width: 100%;
  height: 50px;
  padding: 0 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background-color: white;

  // LOGO SABINA LARSSON
  .logo-sabina-larsson {
    width: 60px;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }

  // MAIN MENU
  .main-menu {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
    .menu-header-menu-left-container {
      width: 100%;
      ul.header-menu-left {
        display: flex;
        justify-content: flex-end;
      }
    }
    .headline-sabina-larsson {
      text-align: center;
      width: 50%;
      font-weight: bold;
      font-size: 1rem;
    }
    .menu-header-menu-right-container {
      width: 100%;
      ul.header-menu-right {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  // SOCIAL ICONS
  .social-icons {
    ul {
      display: flex;
    }
    li {
      margin: 0.5rem;
    }
  }
}



/* FOOTER CONTACT INFO */
.container {
  display: flex;
  flex-direction: column;
  
  .site-footer__info {
    background-color: $darkGrey;;

    .main-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .contact-info {
        text-align: center;
        h3 {
          text-transform: uppercase;
        }
        a {
          text-transform: inherit;
        }
        .social-icons {
          display: flex;
          justify-content: center;
          li {
            margin: 0 0.5rem;
          }
        }
      }
      .logo-sabina-larsson {
        height: 150px;
        width: 150px;
        img {
          width: 100%;
        }
      }
      .newsletter {
        h3 {
          text-transform: uppercase;
        }
      }
    }
  }

  .site-footer__copyrights {
    background-color: $dimGrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    p { color: $cream; }
    .made-by {
      position: absolute;
      right: 0;
      margin-right: 30px;
    }
  }
}


// HERO BANNER
.site-hero-content {
  position: relative;

  .hero-image {
    margin-top: 50px;
    background-size: cover;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
  }
  
  .hero-content {
    position: absolute;
    background-color: black;
    opacity: 0.7;
    bottom: 10rem;
    padding: 2rem 5rem 2rem 1.5rem;
    h2.hero-title {
      color: $white;
      font-size: 3rem;
      text-transform: uppercase;
    }
    p.hero-text {
      color: $white;
      font-size: 1.5rem
    }
  }
}



// Image/Content 50/50
.site-workshop-content {
  display: flex;
  margin: 30px 0;
  .image-container {
    width: 50%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content-container {
    position: relative;
    width: 50%;
    background-color: $lightGrey;
    display: flex;
    .content-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      h2, h3, h4, h6, p {
        color: $softGrey;
      }
      .title-container {
        position: absolute;
        top: 70px;
        left: 10%;
        h2 {
          text-transform: uppercase;
          font-size: 3rem;
        }
      }
      .info-container {
        width: 70%;
        text-align: center;
        margin-bottom: 10px;
        h3.heading {
          font-size: 1.7rem;
        }
        h4.sub-heading {
          font-size: 1.2rem;
        }
        .textarea {
          margin: 20px 0;
        }
        h6.price {
          font-size: 0.8rem;
        }
      }
      .notification {
        position: absolute;
        bottom: 110px;
        text-align: center;
        a { text-transform: lowercase; }
      }
      
    }
    .general-info {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      text-align: center;
      margin-top: 10px;
      .location, .payment {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .location {
        background-color: $white;
        h3, p {
          color: $softGrey;
        }
      }
      .payment {
        background-color: $black;
        h3, p {
          color: $white;
        }
      }
    }
  }
}

// Section Position
.position-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  .position-image {
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
  }
}


// Section Review
.review-container {
  display: flex;
  .review {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: $beige;
    p {
      font-size: 0.8rem;
      margin: 0.5rem 0;
    }
  }
}

// Section PT Yoga
.pt_yoga_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {
      font-size: 2rem;
      text-transform: uppercase;
    }
    .content {
      width: 50%;
      text-align: center;
      margin: 20px 0;
      font-size: 0.9rem;
    }
  }
  .notification {
    text-align: center;
    margin-bottom: 10px;
    a {
      text-transform: inherit;
    }
  }
  .classes {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.8px solid $darkGrey;
    font-size: 1.2rem;
    .pt_one, .pt_duo, .pt_online {
      width: 33%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding: 2rem 9rem 2rem 1rem;
    }
    .pt_duo {
      border-right: 0.8px solid $darkGrey;
      border-left: 0.8px solid $darkGrey;
    }
  }
}

// Section: Classes
.container-class {
  margin: 0.8rem;
  text-align: center;
  h2 {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
}


// Section: Workshop Haga
.workshop-haga {
  font-size: 0.8rem;
  .info {
    margin: 2rem;
    padding: 2rem;
  }
  .date {
    margin: 0.4rem;
  }
  .haga-workshop-btn {
    margin: 2rem;
    padding: 0.5rem 2rem;
    background-color: $black;
    border: none;
    a {
      color: $white;
      font-weight: 600;
    }
  }
}

// Section: About Sabina
.about-sabina-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 3rem;
  .image-container {
    height: 600px;
    width: 100%;
    position: relative;
    background-color: $darkGrey;
    .title {
      position: absolute;
      font-size: 4rem;
      z-index: 50;
      width: 40%;
      top: 5rem;
      left: 20rem;
    }
    .about-sabina-image {
      height: 650px;
      width: 550px;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
      position: absolute;
      right: 10rem;
      top: 2rem;
      border: 20px solid $white;
      .image-opacity {
        background-color: $white;
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
    }
  }
  .content-container {
    margin: 10rem 10rem 5rem;
    padding: 2rem;
    h3 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.7;
    }
    .signiture {
      margin-top: 2rem;
      font-weight: bold;
    }
  }
}