/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin and padding in all browsers.
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $black;
}
body {
  font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
  min-height: 100vh;
  font-size: 12px;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Basic styling for Navigation
 */
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  display: inline;
  margin: 0 1rem;
}

a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


/* NAVIGATION BAR */
nav.main-navigation {
  overflow: visible;
  width: 100%;
  height: 50px;
  padding: 0 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background-color: white;

  // LOGO SABINA LARSSON
  .logo-sabina-larsson {
    width: 60px;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }

  // MAIN MENU
  .main-menu {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
    .menu-header-menu-left-container {
      width: 100%;
      ul.header-menu-left {
        display: flex;
        justify-content: flex-end;
      }
    }
    .headline-sabina-larsson {
      text-align: center;
      width: 50%;
      font-weight: bold;
      font-size: 1rem;
    }
    .menu-header-menu-right-container {
      width: 100%;
      ul.header-menu-right {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  // SOCIAL ICONS
  .social-icons {
    ul {
      display: flex;
    }
    li {
      margin: 0.5rem;
    }
  }
}



/* FOOTER CONTACT INFO */
.container {
  display: flex;
  flex-direction: column;
  
  .site-footer__info {
    background-color: $darkGrey;;

    .main-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .contact-info {
        text-align: center;
        h3 {
          text-transform: uppercase;
        }
        a {
          text-transform: inherit;
        }
        .social-icons {
          display: flex;
          justify-content: center;
          li {
            margin: 0 0.5rem;
          }
        }
      }
      .logo-sabina-larsson {
        height: 150px;
        width: 150px;
        img {
          width: 100%;
        }
      }
      .newsletter {
        h3 {
          text-transform: uppercase;
        }
      }
    }
  }

  .site-footer__copyrights {
    background-color: $dimGrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    p { color: $cream; }
    .made-by {
      position: absolute;
      right: 0;
      margin-right: 30px;
    }
  }
}


// HERO BANNER
.site-hero-content {
  position: relative;

  .hero-image {
    margin-top: 50px;
    background-size: cover;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
  }
  
  .hero-content {
    position: absolute;
    background-color: black;
    opacity: 0.7;
    bottom: 10rem;
    padding: 2rem 5rem 2rem 1.5rem;
    h2.hero-title {
      color: $white;
      font-size: 3rem;
      text-transform: uppercase;
    }
    p.hero-text {
      color: $white;
      font-size: 1.5rem
    }
  }
}