// MEDIA QUERIES 
@media screen and (max-width: 800px) {
  .site-hero-content {
    .hero-image {
      height: 400px;
    }
    .hero-content {
      bottom: 2rem;
      padding: 1rem 4rem 1rem 0.5rem;
      h2.hero-title {
        font-size: 1.5rem;
      }
      p.hero-text {
        font-size: 0.8rem;
      }
    }
  }

  ul.toogle-hamburger {
    background-color: green;
  }

  .site-workshop-content {
    .image-container {
      display: none;
    }
    .content-container {
      width: 100%;
      display: initial;
      padding-top: 30px;
      .content-inner-container {
        .title-container {
          position: initial;
          margin-left: -80px;
          margin-bottom: 20px;
          h2 { font-size: 1.4rem; }
          p { font-size: 0.6rem; }
        }
        .info-container {
          margin-bottom: 20px;
          h3.heading {
            font-size: 1.0rem;
          }
          h4.sub-heading {
            font-size: 0.8rem;
          }
          .textarea {
            font-size: 0.6rem;
            margin: 20px 0 5px;
          }
          h6.price {
            font-size: 0.6rem;
          }
        }
        .notification { 
          position: initial; 
          font-size: 0.6rem;
          margin-top: 10px;
        }
      }
      .general-info { 
        position: initial; 
        height: 60px;
        h3 { font-size: 0.6rem; }
        p { font-size: 0.6rem; }
      }
    }
  }
  .position-container {
    justify-content: center;
    .position-image {
      height: 150px;
      width: 150px;
    }
  }
  .review-container {
    flex-wrap: wrap;
    .review:first-child, .review:last-child { display: none; }
    .review {
      padding: 1rem;
      p { font-size: 0.6rem; }
    }
  }
  .pt_yoga_container {
    .info {
      .heading { font-size: 1.4rem; }
      .content { font-size: 0.6rem; width: 100%; }
    }
    .notification {
      position: initial; 
      font-size: 0.6rem;
      margin-top: 10px;
    }
    .classes {
      flex-direction: column;
      border: 0.8px solid $darkGrey;
      .pt_one, .pt_duo, .pt_online { 
        width: 100%;
        align-items: center;
        padding: 1rem 2rem 1rem 2rem;
        border: none;
      }
      h3 { font-size: 1rem; }
      p { font-size: 0.6rem; }
    }
  }
  .container-class {
    h2 { font-size: 1rem; }
    p { font-size: 0.6rem; }
  }
  .position-image:first-child {
    display: none;
  }
  .workshop-haga {
    font-size: 0.6rem;
    .info {
      margin: 1rem;
      padding: 1rem;
    }
    .date {
      margin: 0.2rem;
      font-size: 0.8rem;
    }
    .haga-workshop-btn {
      margin: 0.5rem;
      a { font-size: smaller; }
    }
  }
  .about-sabina-container {
    .image-container {
      height: 350px;
      .title {
        font-size: 2rem;
        left: 2rem;
        width: 70%;
      }
      .about-sabina-image {
        height: 350px;
        width: 250px;
        right: 2rem;
        top: 3rem;
      }
    }
    .content-container {
      margin: 5rem 0 3rem;
      padding: 0 2.5rem;
      h3 { 
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }
      p { font-size: 0.7rem; }
    }
  }
  .main-info {
    margin: 1rem;
    .logo-sabina-larsson {
      display: none;
    }
    .newsletter {
      display: none;
    }
  }
  .awards {
    img { width: 15%; margin: 2rem 0.5rem; }
  }
  .site-footer__copyrights {
    p { font-size: 0.6rem; }
  }
}

@media screen and (max-width: 1020px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    div {
      width: 35px;
      height: 2px;
      background-color: $black;
      margin: 2px 0;
    }
  }
  nav.main-navigation {
    padding: 0 2rem;
    .main-menu {
      .menu-header-menu-left-container, .menu-header-menu-right-container {
        width: 100%;
        position: absolute;
        right: 0;
        background-color: white;
        opacity: 0.8;
        transition-timing-function: ease-in;
        display: none;
      }
      .menu-header-menu-left-container {
        top: 50px;
        ul.header-menu-left {
          display: initial;
        }
      }
      .headline-sabina-larsson {
        font-size: 0.7rem;
      }
      .menu-header-menu-right-container {
        top: 218px;
        ul.header-menu-right {
          display: initial;
        }
      }
    }
    .social-icons {
      width: 100%;
      position: absolute;
      right: 0;
      background-color: white;
      opacity: 0.8;
      top: 183px;
      display: none;
      ul {
        justify-content: center;
      }
    }
  }
}